<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hardverapro Lite</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="header">
      <h1>Hardverapro Lite</h1>
    </div>
    <main class="container" id="app">
      <form @submit.prevent="onSubmit">
        <input v-model="term" type="text" id="term" placeholder="Keresés" />
        <button type="submit" class="btn">
          <img src="images/search.svg" alt="search" />
        </button>
      </form>

      <section>
        <ul>
          <li class="grid-container" v-for="result in results">
            <img class="item1" :src="result.img" alt="hirdetés kép" />

            <h1>{{result.title}}</h1>
            <h2>{{result.price}}</h2>
            <h3>
              <a :href="result.link">ugrás a hirdetéshez</a>
            </h3>
            <h4>{{result.location}}</h4>
            <h5>{{result.time}}</h5>
          </li>
        </ul>
      </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <script src="client.js"></script>
  </body>
</html>
